# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Instructions for running this challenge
# 
# 1. Run the program to install the correct version of tensorflow
# 2. Before running the program again, 
# decide whether to upload the resource file (applicants_data.csv) to
# the 'content' folder in Google Colab. If you don't upload it, then
# the app will prompt you for the file

PRE_INIT_COMPLETE = False
ALREADY_HAVE_FILES = False

In [2]:
# The code below checks for the current version of tensorflow
# If > 2.7.0, it will uninstall, then reinstall tensorflow 2.7.0
import tensorflow as tf
print(f'Current TensorFlow verison is {tf.__version__}')

if tf.__version__ > '2.7.0':
  print(f'We need TensorFlow 2.7.0 installed')
  print(f'Uninstalling / reinstalling TensorFlow')
  !pip uninstall -y tensorflow
  !pip install tensorflow==2.7.0
  PRE_INIT_COMPLETE = True  
else:
  print(f'Correct version of TensorFlow installed')
  PRE_INIT_COMPLETE = True

Current TensorFlow verison is 2.7.0
Correct version of TensorFlow installed

In [3]:
from pathlib import Path
csv_file = Path("/content/applicants_data.csv")

# check for the existence of the resource file
# continue if we already have the file,
# else get the file from the user
if csv_file.is_file() or ALREADY_HAVE_FILES:
    ALREADY_HAVE_FILES = True
else:
  from google.colab import files
  csv_file = files.upload()

In [4]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame.

In [5]:
# We already did this above so skipping this step

### Step 1 (continued): Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [6]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
df_applicant_data = pd.read_csv(csv_file)

# Review the DataFrame
df_applicant_data.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [7]:
# Review the data types associated with the columns
df_applicant_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [8]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
df_applicant_data.drop(axis=1, columns=['EIN', 'NAME'], inplace=True)

# Review the DataFrame
df_applicant_data.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [9]:
# Create a list of categorical variables 
categorical_variables = list(df_applicant_data.dtypes[df_applicant_data.dtypes == 'object'].index)

# Display the categorical variables list
display(categorical_variables)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [10]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(df_applicant_data[categorical_variables])

# Create a DataFrame with the encoded variables
df_encoded = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
display(df_encoded.head())

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [11]:
# Create a DataFrame with the columnns containing numerical variables from the original dataset
df_numerical_variables = df_applicant_data.drop(columns=categorical_variables)

display(df_numerical_variables.head())

   STATUS  ASK_AMT  IS_SUCCESSFUL
0       1     5000              1
1       1   108590              1
2       1     5000              0
3       1     6692              1
4       1   142590              1

In [12]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
df_encoded = pd.concat(
    [
      df_numerical_variables,
      df_encoded
    ],
    axis=1
)

# Review the Dataframe
display(df_encoded.head())

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [13]:
# Define the target set y using the IS_SUCCESSFUL column
y_target = df_encoded['IS_SUCCESSFUL'].copy()

# Display a sample of y
display(y_target[:5])

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [14]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X_features = df_encoded.drop(columns='IS_SUCCESSFUL')

# Review the features DataFrame
display(X_features.head())

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [15]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X_features, y_target, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [16]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [17]:
# Define the the number of inputs (features) to the model
number_input_features = (len(X_train.iloc[0]))

# Review the number of features
number_input_features

116

In [18]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [19]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = (number_input_features + number_output_neurons) // 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [20]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + number_output_neurons) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [21]:
# Create the Sequential model instance
nn = Sequential()

In [22]:
# Add the first hidden layer
nn.add(
    Dense(
        units=hidden_nodes_layer1,
        input_dim=number_input_features,
        activation='relu',
    )
)

In [23]:
# Add the second hidden layer
nn.add(
    Dense(
        units=hidden_nodes_layer2,
        activation='relu',
    )
)

In [24]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(
    Dense(
        units=number_output_neurons,
        activation='sigmoid'
    )
)

In [25]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [26]:
# Compile the Sequential model
nn.compile(
  loss='binary_crossentropy',
  optimizer='adam',
  metrics=['accuracy'],
)

In [27]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 5s 5ms/step - loss: 0.5768 - accuracy: 0.7212
Epoch 2/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5539 - accuracy: 0.7299
Epoch 3/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5495 - accuracy: 0.7305
Epoch 4/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5493 - accuracy: 0.7314
Epoch 5/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5468 - accuracy: 0.7328
Epoch 6/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5458 - accuracy: 0.7329
Epoch 7/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5448 - accuracy: 0.7328
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7337
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7338
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7348
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7338
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7355
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7342
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7355
Epoch 15/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5403 - accuracy: 0.7368
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7343
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7343
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7361
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7365
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7360
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7363
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7378
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7363
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7366
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7371
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7380
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7387
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7378
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7374
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7392
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7375
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7389
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7389
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7384
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7390
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7394
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7397
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7386
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7396
Epoch 40/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5345 - accuracy: 0.7389
Epoch 41/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5343 - accuracy: 0.7393
Epoch 42/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5345 - accuracy: 0.7399
Epoch 43/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5340 - accuracy: 0.7406
Epoch 44/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5339 - accuracy: 0.7387
Epoch 45/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5337 - accuracy: 0.7394
Epoch 46/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5342 - accuracy: 0.7397
Epoch 47/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5335 - accuracy: 0.7393
Epoch 48/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5335 - accuracy: 0.7388
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7409
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7407

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [28]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}\nAccuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5540 - accuracy: 0.7280 - 461ms/epoch - 2ms/step
Loss: 0.5540013909339905
Accuracy: 0.7280466556549072

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [29]:
# Set the model's file path
file_path = Path("/content/AlphabetSoup.h5")

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [30]:
# Define the the number of inputs (features) to the model
AM1_number_input_features = len(X_train.iloc[0])

# Define the number of neurons in the output layer
AM1_number_output_neurons = 1

# Define the number of hidden nodes for the first hidden layer
AM1_hidden_nodes_layer1 = (AM1_number_input_features + AM1_number_output_neurons) // 2

# Define the number of hidden nodes for the second hidden layer
AM1_hidden_nodes_layer2 = (AM1_hidden_nodes_layer1 + AM1_number_output_neurons) // 2

# Define the number of hidden nodes for the third hidden layer
AM1_hidden_nodes_layer3 = (AM1_hidden_nodes_layer2 + AM1_number_output_neurons) // 2

# Define the number of hidden nodes for the fourth hidden layer
AM1_hidden_nodes_layer4 = (AM1_hidden_nodes_layer3 + AM1_number_output_neurons) // 2

# Define the number of hidden nodes for the fith hidden layer
AM1_hidden_nodes_layer5 = (AM1_hidden_nodes_layer4 + AM1_number_output_neurons) // 2


# ==============================================================================
print(f'========== Alternate Model 1 ==========')
# Review the number of features
print(f'Number of Features: {AM1_number_input_features}')
# Review the number of output neurons
print(f'Number of Output Neurons: {AM1_number_output_neurons}')
# Review the number of hidden nodes in the first layer
print(f'Number of Hidden Nodes in Layer 1: {AM1_hidden_nodes_layer1}')
# Review the number of hidden nodes in the second layer
print(f'Number of Hidden Nodes in Layer 1: {AM1_hidden_nodes_layer2}')
# Review the number of hidden nodes in the third layer
print(f'Number of Hidden Nodes in Layer 1: {AM1_hidden_nodes_layer3}')
# Review the number of hidden nodes in the fourth layer
print(f'Number of Hidden Nodes in Layer 1: {AM1_hidden_nodes_layer4}')
# Review the number of hidden nodes in the fifth layer
print(f'Number of Hidden Nodes in Layer 1: {AM1_hidden_nodes_layer5}')
print(f'---------------------------------------')

========== Alternate Model 1 ==========
Number of Features: 116
Number of Output Neurons: 1
Number of Hidden Nodes in Layer 1: 58
Number of Hidden Nodes in Layer 1: 29
Number of Hidden Nodes in Layer 1: 15
Number of Hidden Nodes in Layer 1: 8
Number of Hidden Nodes in Layer 1: 4
---------------------------------------

In [31]:
# Create the Sequential model instance
AM1_nn = Sequential()

AM1_nn.add(
    Dense(
        units=AM1_hidden_nodes_layer1,
        input_dim=AM1_number_input_features,
        activation='linear',
    )
)
AM1_nn.add(
    Dense(
        units=AM1_hidden_nodes_layer2,
        activation='tanh',        
    )
)
AM1_nn.add(
    Dense(
        units=AM1_hidden_nodes_layer3,
        activation='relu',                
    )
)
AM1_nn.add(
    Dense(
        units=AM1_hidden_nodes_layer4,
        activation='sigmoid',                
    )
)
AM1_nn.add(
    Dense(
        units=AM1_hidden_nodes_layer5,
        activation='sigmoid',                
    )
)
AM1_nn.add(
    Dense(
        units=AM1_number_output_neurons,
        activation='sigmoid'
    )
)

# Check the structure of the model
AM1_nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 58)                6786

 dense_4 (Dense)             (None, 29)                1711

 dense_5 (Dense)             (None, 15)                450

 dense_6 (Dense)             (None, 8)                 128

 dense_7 (Dense)             (None, 4)                 36

 dense_8 (Dense)             (None, 1)                 5

=================================================================
Total params: 9,116
Trainable params: 9,116
Non-trainable params: 0
_________________________________________________________________

In [32]:
# Compile the Sequential model
AM1_nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Fit the model using 50 epochs and the training data
AM1_fit_model = AM1_nn.fit(X_train_scaled, y_train, epochs=20)

Epoch 1/20
804/804 [==============================] - 3s 2ms/step - loss: 0.6043 - accuracy: 0.7051
Epoch 2/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5694 - accuracy: 0.7290
Epoch 3/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5593 - accuracy: 0.7303
Epoch 4/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5555 - accuracy: 0.7310
Epoch 5/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5519 - accuracy: 0.7342
Epoch 6/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5508 - accuracy: 0.7328
Epoch 7/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7354
Epoch 8/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7352
Epoch 9/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7352
Epoch 10/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7356
Epoch 11/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7371
Epoch 12/20
804/804 [==============================] - 5s 6ms/step - loss: 0.5440 - accuracy: 0.7353
Epoch 13/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7368
Epoch 14/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7363
Epoch 15/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7365
Epoch 16/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7371
Epoch 17/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7377
Epoch 18/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7366
Epoch 19/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7373
Epoch 20/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7362

#### Alternative Model 2

In [33]:
# Define the the number of inputs (features) to the model
AM2_number_input_features = len(X_train.iloc[0])

# Define the number of neurons in the output layer
AM2_number_output_neurons = 1

# Define the number of hidden nodes for the first hidden layer
AM2_hidden_nodes_layer1 = (AM2_number_input_features + AM2_number_output_neurons) // 2

# Define the number of hidden nodes for the second hidden layer
AM2_hidden_nodes_layer2 = (AM2_hidden_nodes_layer1 + AM2_number_output_neurons) // 2

# Define the number of hidden nodes for the third hidden layer
AM2_hidden_nodes_layer3 = (AM2_hidden_nodes_layer2 + AM2_number_output_neurons) // 2

# ==============================================================================
print(f'========== Alternate Model 1 ==========')
# Review the number of features
print(f'Number of Features: {AM2_number_input_features}')
# Review the number of output neurons
print(f'Number of Output Neurons: {AM2_number_output_neurons}')
# Review the number of hidden nodes in the first layer
print(f'Number of Hidden Nodes in Layer 1: {AM2_hidden_nodes_layer1}')
# Review the number of hidden nodes in the second layer
print(f'Number of Hidden Nodes in Layer 1: {AM2_hidden_nodes_layer2}')
# Review the number of hidden nodes in the third layer
print(f'Number of Hidden Nodes in Layer 1: {AM2_hidden_nodes_layer3}')
# Review the number of hidden nodes in the fourth layer
# print(f'Number of Hidden Nodes in Layer 1: {AM1_hidden_nodes_layer4}')
# Review the number of hidden nodes in the fifth layer
# print(f'Number of Hidden Nodes in Layer 1: {AM1_hidden_nodes_layer5}')
print(f'---------------------------------------')

========== Alternate Model 1 ==========
Number of Features: 116
Number of Output Neurons: 1
Number of Hidden Nodes in Layer 1: 58
Number of Hidden Nodes in Layer 1: 29
Number of Hidden Nodes in Layer 1: 15
---------------------------------------

In [34]:
# Create the Sequential model instance
AM2_nn = Sequential()

AM2_nn.add(
    Dense(
        units=AM2_hidden_nodes_layer1,
        input_dim=AM2_number_input_features,
        activation='relu',
    )
)
AM2_nn.add(
    Dense(
        units=AM2_hidden_nodes_layer2,
        activation='sigmoid',        
    )
)
AM2_nn.add(
    Dense(
        units=AM2_hidden_nodes_layer3,
        activation='relu',                
    )
)
# AM2_nn.add(
#     Dense(
#         units=AM2_hidden_nodes_layer4,
#         activation='linear',                
#     )
# )
# AM2_nn.add(
#     Dense(
#         units=AM2_hidden_nodes_layer5,
#         activation='relu',                
#     )
# )
AM2_nn.add(
    Dense(
        units=AM2_number_output_neurons,
        activation='sigmoid'
    )
)

# Check the structure of the model
AM2_nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 58)                6786

 dense_10 (Dense)            (None, 29)                1711

 dense_11 (Dense)            (None, 15)                450

 dense_12 (Dense)            (None, 1)                 16

=================================================================
Total params: 8,963
Trainable params: 8,963
Non-trainable params: 0
_________________________________________________________________

In [35]:
# Compile the model
AM2_nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Fit the model using 50 epochs and the training data
AM2_fit_model = AM2_nn.fit(X_train_scaled, y_train, epochs=20)

Epoch 1/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5760 - accuracy: 0.7163
Epoch 2/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5548 - accuracy: 0.7290
Epoch 3/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5506 - accuracy: 0.7307
Epoch 4/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7328
Epoch 5/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7336
Epoch 6/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5459 - accuracy: 0.7336
Epoch 7/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5446 - accuracy: 0.7330
Epoch 8/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7341
Epoch 9/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7335
Epoch 10/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5427 - accuracy: 0.7342
Epoch 11/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7344
Epoch 12/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7354
Epoch 13/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7350
Epoch 14/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7357
Epoch 15/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7366
Epoch 16/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7366
Epoch 17/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7360
Epoch 18/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7362
Epoch 19/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5388 - accuracy: 0.7377
Epoch 20/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7370

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [36]:
print(f'========== Original Model Results ===============')

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
# Display the model loss and accuracy results
print(f"Loss: {model_loss}\nAccuracy: {model_accuracy}")
print()

print(f'========== Alternative Model 1 Results ==========')

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
AM1_model_loss, AM1_model_accuracy = AM1_nn.evaluate(X_test_scaled,y_test,verbose=2)
# Display the model loss and accuracy results
print(f"Loss: {AM1_model_loss}\nAccuracy: {AM1_model_accuracy}")
print()

print(f'========== Alternative Model 2 Results ==========')

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
AM2_model_loss, AM2_model_accuracy = AM2_nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {AM2_model_loss}\nAccuracy: {AM2_model_accuracy}")
print()

========== Original Model Results ===============
268/268 - 0s - loss: 0.5540 - accuracy: 0.7280 - 324ms/epoch - 1ms/step
Loss: 0.5540013909339905
Accuracy: 0.7280466556549072

========== Alternative Model 1 Results ==========
268/268 - 0s - loss: 0.5512 - accuracy: 0.7294 - 471ms/epoch - 2ms/step
Loss: 0.5512053370475769
Accuracy: 0.7294460535049438

========== Alternative Model 2 Results ==========
268/268 - 0s - loss: 0.5528 - accuracy: 0.7247 - 442ms/epoch - 2ms/step
Loss: 0.5528280138969421
Accuracy: 0.7246647477149963

### Step 3: Save each of your alternative models as an HDF5 file.

In [40]:
# Set the file path for the first alternative model
AM1_file_path = Path('/content/AlphabetSoup_Alt_1.h5')

# Export your model to a HDF5 file
AM1_nn.save(AM1_file_path)

In [41]:
# Set the file path for the second alternative model
AM2_file_path = Path('/content/AlphabetSoup_Alt_2.h5')

# Export your model to a HDF5 file
AM2_nn.save(AM2_file_path)